.box {
    height: 60px;
}

.hh {
    height: 100px;
}



.special-color1 {
    background-color: #21aa58;
}

.special-color2 {
    background-color: #f2f5f8;
}

.image-radius {
    border-radius: 26px;
}

.special-color3 {
    background-color: #f2f5f8;
}

.mar1 {
    margin-top: -20px;


}

.mar2 {
    margin-top: -20px;

}




@media all and (min-width:992px) and (max-width:1199px) {
    .special-h1 {
        height: 700px;
    }
}

@media all and (min-width:1200px) and (max-width:1399px) {
    .special-h1 {
        height: 800px;
    }
}

@media all and (min-width:1400px) and {
    .special-h1 {
        height: 1000px;
    }

}