.box{
    height: 60px;
}
body{
    height: 4000px;
}
.special-color1{
    background-color: #21aa58;
}
.special-color2{
    background-color: #f2f5f8;
}
.image-radius{
    border-radius: 26px;
}
.special-color3{
    background-color: #f2f5f8;
}
.h-border{
    height: 150px;
}